<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldnews"
    android:versionCode="1"
    android:versionName="1.0" 
    >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/location_news"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.example.worldnews.splashAcctivity" >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.worldnews.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.worldnews.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.worldnews.prefrences"
            android:label="Settings" 
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="com.example.worldnews.PREFRENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.worldnews.credits"
            android:label="Credits"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.worldnews.CREDITS" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.worldnews.searchClass"
            android:label=" Search "
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.worldnews.SEARCHCLASS" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
    </application>

</manifest>